<a href="https://colab.research.google.com/github/UtkarshGupta12/Churn_Modelling/blob/master/Churn_Modelling.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd

In [0]:
import keras

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/UtkarshGupta12/Churn_Modelling/master/Churn_Modelling.csv')

In [154]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
import matplotlib.pyplot as plt

In [0]:
df2 = df
df2 = df2.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [157]:
df2.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
X = df.iloc[ : , 3:13].values
y = df.iloc[ : ,13].values

In [159]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[ : , 1]=labelencoder_X_1.fit_transform(X[ : , 1])
labelencoder_X_2 = LabelEncoder()
X[ : , 2]=labelencoder_X_2.fit_transform(X[ : , 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[ : , 1:]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [160]:
X.shape

(10000, 11)

In [161]:
y.shape

(10000,)

In [0]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2 , random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense

In [0]:
classifier = Sequential()

In [166]:
print(keras.__version__)

2.2.4

In [0]:
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))

In [0]:
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [172]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics = ['accuracy'])

W0726 09:11:42.785983 140186097137536 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

W0726 09:11:42.825786 140186097137536 deprecation.py:323] From /usr/local/lib/python3.6/dist-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [173]:
classifier.fit(X_train,y_train,batch_size=10,nb_epoch=100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
8000/8000 [==============================] - 1s 171us/step - loss: 0.4852 - acc: 0.7957
Epoch 2/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4278 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4220 - acc: 0.7974
Epoch 4/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4179 - acc: 0.8207
Epoch 5/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4155 - acc: 0.8282
Epoch 6/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4141 - acc: 0.8310
Epoch 7/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4121 - acc: 0.8310
Epoch 8/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4112 - acc: 0.8329
Epoch 9/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4100 - acc: 0.8327
Epoch 10/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4087 - acc: 0.8340
Epoch 11/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4080 - acc: 0.8335
Epoch 12/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4076 - acc: 0.8346
Epoch 13/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4070 - acc: 0.8361
Epoch 14/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4064 - acc: 0.8345
Epoch 15/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4056 - acc: 0.8356
Epoch 16/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4056 - acc: 0.8339
Epoch 17/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4049 - acc: 0.8339
Epoch 18/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4046 - acc: 0.8350
Epoch 19/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4046 - acc: 0.8340
Epoch 20/100
8000/8000 [==============================] - 1s 118us/step - loss: 0.4041 - acc: 0.8341
Epoch 21/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4037 - acc: 0.8342
Epoch 22/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4031 - acc: 0.8349
Epoch 23/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4032 - acc: 0.8345
Epoch 24/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4026 - acc: 0.8351
Epoch 25/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4031 - acc: 0.8336
Epoch 26/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4018 - acc: 0.8341
Epoch 27/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4022 - acc: 0.8340
Epoch 28/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4020 - acc: 0.8351
Epoch 29/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4022 - acc: 0.8341
Epoch 30/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4024 - acc: 0.8339
Epoch 31/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4023 - acc: 0.8330
Epoch 32/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4017 - acc: 0.8332
Epoch 33/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4021 - acc: 0.8355
Epoch 34/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4016 - acc: 0.8344
Epoch 35/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4016 - acc: 0.8347
Epoch 36/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4018 - acc: 0.8362
Epoch 37/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4018 - acc: 0.8354
Epoch 38/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4012 - acc: 0.8357
Epoch 39/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4012 - acc: 0.8346
Epoch 40/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4010 - acc: 0.8345
Epoch 41/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4013 - acc: 0.8377
Epoch 42/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4014 - acc: 0.8344
Epoch 43/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4008 - acc: 0.8356
Epoch 44/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4011 - acc: 0.8361
Epoch 45/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4010 - acc: 0.8350
Epoch 46/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4009 - acc: 0.8354
Epoch 47/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4009 - acc: 0.8340
Epoch 48/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4009 - acc: 0.8349
Epoch 49/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4006 - acc: 0.8370
Epoch 50/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4005 - acc: 0.8359
Epoch 51/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4007 - acc: 0.8366
Epoch 52/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4010 - acc: 0.8354
Epoch 53/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4005 - acc: 0.8347
Epoch 54/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4008 - acc: 0.8356
Epoch 55/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4005 - acc: 0.8345
Epoch 56/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4007 - acc: 0.8355
Epoch 57/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4010 - acc: 0.8371
Epoch 58/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4005 - acc: 0.8340
Epoch 59/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4003 - acc: 0.8359
Epoch 60/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4003 - acc: 0.8364
Epoch 61/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4005 - acc: 0.8351
Epoch 62/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4004 - acc: 0.8364
Epoch 63/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4003 - acc: 0.8354
Epoch 64/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4005 - acc: 0.8364
Epoch 65/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4004 - acc: 0.8354
Epoch 66/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4006 - acc: 0.8356
Epoch 67/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4001 - acc: 0.8362
Epoch 68/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4004 - acc: 0.8341
Epoch 69/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4004 - acc: 0.8349
Epoch 70/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.3997 - acc: 0.8340
Epoch 71/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4000 - acc: 0.8362
Epoch 72/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4001 - acc: 0.8350
Epoch 73/100
8000/8000 [==============================] - 1s 116us/step - loss: 0.4002 - acc: 0.8366
Epoch 74/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4001 - acc: 0.8340
Epoch 75/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4001 - acc: 0.8342
Epoch 76/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4005 - acc: 0.8355
Epoch 77/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4003 - acc: 0.8346
Epoch 78/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4004 - acc: 0.8354
Epoch 79/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4004 - acc: 0.8350
Epoch 80/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3998 - acc: 0.8347
Epoch 81/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4003 - acc: 0.8371
Epoch 82/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4001 - acc: 0.8355
Epoch 83/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4006 - acc: 0.8351
Epoch 84/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4002 - acc: 0.8347
Epoch 85/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.3999 - acc: 0.8352
Epoch 86/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3997 - acc: 0.8357
Epoch 87/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4002 - acc: 0.8356
Epoch 88/100
8000/8000 [==============================] - 1s 111us/step - loss: 0.4001 - acc: 0.8365
Epoch 89/100
8000/8000 [==============================] - 1s 109us/step - loss: 0.4000 - acc: 0.8354
Epoch 90/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.4001 - acc: 0.8374
Epoch 91/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4002 - acc: 0.8336
Epoch 92/100
8000/8000 [==============================] - 1s 115us/step - loss: 0.4006 - acc: 0.8349
Epoch 93/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4002 - acc: 0.8350
Epoch 94/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.4000 - acc: 0.8360
Epoch 95/100
8000/8000 [==============================] - 1s 117us/step - loss: 0.4000 - acc: 0.8350
Epoch 96/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.4000 - acc: 0.8336
Epoch 97/100
8000/8000 [==============================] - 1s 113us/step - loss: 0.4000 - acc: 0.8365
Epoch 98/100
8000/8000 [==============================] - 1s 114us/step - loss: 0.3997 - acc: 0.8365
Epoch 99/100
8000/8000 [==============================] - 1s 112us/step - loss: 0.3999 - acc: 0.8377
Epoch 100/100
8000/8000 [==============================] - 1s 110us/step - loss: 0.3998 - acc: 0.8350

In [0]:
y_pred = classifier.predict(X_test)

In [176]:
y_pred

array([[0.19743356],
       [0.3310637 ],
       [0.13224661],
       ...,
       [0.16764498],
       [0.14709711],
       [0.12068498]], dtype=float32)

In [0]:
y_pred = (y_pred > 0.5 )

In [0]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [182]:
cm

array([[1546,   49],
       [ 266,  139]])

In [183]:
(1546+139)/2000

0.8425