<a href="https://colab.research.google.com/github/UtkarshGupta12/Churn_Modelling/blob/master/Churn_Modelling(Dropout).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np 
import pandas as pd

In [0]:
import keras

In [0]:
df = pd.read_csv('https://raw.githubusercontent.com/UtkarshGupta12/Churn_Modelling/master/Churn_Modelling.csv')

In [193]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [0]:
import matplotlib.pyplot as plt

In [0]:
df2 = df
df2 = df2.drop(['RowNumber','CustomerId','Surname'],axis=1)

In [196]:
df2.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [0]:
X = df.iloc[ : , 3:13].values
y = df.iloc[ : ,13].values

In [198]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X_1 = LabelEncoder()
X[ : , 1]=labelencoder_X_1.fit_transform(X[ : , 1])
labelencoder_X_2 = LabelEncoder()
X[ : , 2]=labelencoder_X_2.fit_transform(X[ : , 2])
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
X = X[ : , 1:]

/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/preprocessing/_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [199]:
X.shape

(10000, 11)

In [200]:
y.shape

(10000,)

In [0]:
from sklearn.model_selection import train_test_split
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.2 , random_state = 0)

In [0]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [0]:
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout

In [0]:
classifier = Sequential()

In [205]:
print(keras.__version__)

2.2.4

In [206]:
classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))
classifier.add(Dropout(p =0.1))

classifier.add(Dense(units = 6, kernel_initializer = 'uniform', activation = 'relu'))
classifier.add(Dropout(p =0.1))

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dropout` call to the Keras 2 API: `Dropout(rate=0.1)`

W0726 11:05:51.664500 140186097137536 deprecation.py:506] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3445: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: UserWarning: Update your `Dropout` call to the Keras 2 API: `Dropout(rate=0.1)`
  """

In [0]:
classifier.add(Dense(units = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

In [0]:
classifier.compile(optimizer='adam',loss='binary_crossentropy',metrics = ['accuracy'])

In [209]:
classifier.fit(X_train,y_train,batch_size=10,nb_epoch=100)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  """Entry point for launching an IPython kernel.

Epoch 1/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.5218 - acc: 0.7956
Epoch 2/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4424 - acc: 0.8144
Epoch 3/100
8000/8000 [==============================] - 1s 123us/step - loss: 0.4265 - acc: 0.8207
Epoch 4/100
8000/8000 [==============================] - 1s 136us/step - loss: 0.4205 - acc: 0.8242
Epoch 5/100
8000/8000 [==============================] - 1s 134us/step - loss: 0.4210 - acc: 0.8216
Epoch 6/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.4184 - acc: 0.8231
Epoch 7/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.4129 - acc: 0.8210
Epoch 8/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4101 - acc: 0.8230
Epoch 9/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.4110 - acc: 0.8234
Epoch 10/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.4095 - acc: 0.8222
Epoch 11/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.4037 - acc: 0.8266
Epoch 12/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.4031 - acc: 0.8284
Epoch 13/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.4002 - acc: 0.8301
Epoch 14/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3973 - acc: 0.8360
Epoch 15/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3967 - acc: 0.8339
Epoch 16/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.4006 - acc: 0.8330
Epoch 17/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3952 - acc: 0.8324
Epoch 18/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3956 - acc: 0.8327
Epoch 19/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3910 - acc: 0.8369
Epoch 20/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3953 - acc: 0.8351
Epoch 21/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3936 - acc: 0.8355
Epoch 22/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3939 - acc: 0.8344
Epoch 23/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3969 - acc: 0.8336
Epoch 24/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3922 - acc: 0.8372
Epoch 25/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3905 - acc: 0.8357
Epoch 26/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3923 - acc: 0.8340
Epoch 27/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3908 - acc: 0.8381
Epoch 28/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3940 - acc: 0.8354
Epoch 29/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3949 - acc: 0.8346
Epoch 30/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3934 - acc: 0.8354
Epoch 31/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3892 - acc: 0.8379
Epoch 32/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3940 - acc: 0.8367
Epoch 33/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3929 - acc: 0.8350
Epoch 34/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3895 - acc: 0.8366
Epoch 35/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3946 - acc: 0.8351
Epoch 36/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3946 - acc: 0.8327
Epoch 37/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3912 - acc: 0.8330
Epoch 38/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3904 - acc: 0.8354
Epoch 39/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3905 - acc: 0.8357
Epoch 40/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3969 - acc: 0.8295
Epoch 41/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3904 - acc: 0.8339
Epoch 42/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3896 - acc: 0.8340
Epoch 43/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3889 - acc: 0.8345
Epoch 44/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3899 - acc: 0.8386
Epoch 45/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3903 - acc: 0.8390
Epoch 46/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3875 - acc: 0.8352
Epoch 47/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3907 - acc: 0.8371
Epoch 48/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3893 - acc: 0.8362
Epoch 49/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3940 - acc: 0.8335
Epoch 50/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3905 - acc: 0.8352
Epoch 51/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3904 - acc: 0.8351
Epoch 52/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3916 - acc: 0.8342
Epoch 53/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3929 - acc: 0.8347
Epoch 54/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3899 - acc: 0.8349
Epoch 55/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3887 - acc: 0.8355
Epoch 56/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3921 - acc: 0.8331
Epoch 57/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3908 - acc: 0.8346
Epoch 58/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3925 - acc: 0.8357
Epoch 59/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3937 - acc: 0.8355
Epoch 60/100
8000/8000 [==============================] - 1s 125us/step - loss: 0.3924 - acc: 0.8359
Epoch 61/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3914 - acc: 0.8316
Epoch 62/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3918 - acc: 0.8314
Epoch 63/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3883 - acc: 0.8352
Epoch 64/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3872 - acc: 0.8344
Epoch 65/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3886 - acc: 0.8367
Epoch 66/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3904 - acc: 0.8367
Epoch 67/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3903 - acc: 0.8339
Epoch 68/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3889 - acc: 0.8349
Epoch 69/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3873 - acc: 0.8360
Epoch 70/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3896 - acc: 0.8342
Epoch 71/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3897 - acc: 0.8354
Epoch 72/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3845 - acc: 0.8370
Epoch 73/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3912 - acc: 0.8349
Epoch 74/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3886 - acc: 0.8341
Epoch 75/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3909 - acc: 0.8354
Epoch 76/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3857 - acc: 0.8374
Epoch 77/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3931 - acc: 0.8346
Epoch 78/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3871 - acc: 0.8355
Epoch 79/100
8000/8000 [==============================] - 1s 127us/step - loss: 0.3896 - acc: 0.8384
Epoch 80/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3910 - acc: 0.8335
Epoch 81/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3906 - acc: 0.8319
Epoch 82/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3903 - acc: 0.8342
Epoch 83/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3873 - acc: 0.8375
Epoch 84/100
8000/8000 [==============================] - 1s 133us/step - loss: 0.3921 - acc: 0.8354
Epoch 85/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3881 - acc: 0.8331
Epoch 86/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3911 - acc: 0.8329
Epoch 87/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3901 - acc: 0.8344
Epoch 88/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3910 - acc: 0.8336
Epoch 89/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3905 - acc: 0.8350
Epoch 90/100
8000/8000 [==============================] - 1s 143us/step - loss: 0.3893 - acc: 0.8369
Epoch 91/100
8000/8000 [==============================] - 1s 140us/step - loss: 0.3956 - acc: 0.8335
Epoch 92/100
8000/8000 [==============================] - 1s 135us/step - loss: 0.3894 - acc: 0.8362
Epoch 93/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3898 - acc: 0.8350
Epoch 94/100
8000/8000 [==============================] - 1s 130us/step - loss: 0.3859 - acc: 0.8356
Epoch 95/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3897 - acc: 0.8347
Epoch 96/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3938 - acc: 0.8312
Epoch 97/100
8000/8000 [==============================] - 1s 128us/step - loss: 0.3919 - acc: 0.8349
Epoch 98/100
8000/8000 [==============================] - 1s 129us/step - loss: 0.3846 - acc: 0.8376
Epoch 99/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3828 - acc: 0.8370
Epoch 100/100
8000/8000 [==============================] - 1s 126us/step - loss: 0.3872 - acc: 0.8379

In [0]:
y_pred = classifier.predict(X_test)

In [211]:
y_pred

array([[0.25160086],
       [0.19182554],
       [0.14722088],
       ...,
       [0.19881526],
       [0.14334387],
       [0.17713481]], dtype=float32)

In [0]:
y_pred = (y_pred > 0.5 )

In [0]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test,y_pred)

In [214]:
cm

array([[1545,   50],
       [ 240,  165]])

In [218]:
(1545+165)/2000

0.855

In [0]:
new_prediction = classifier.predict(sc.transform(np.array([[0,0,600,1,40,3,60000,2,1,1,50000]])))

In [217]:
new_prediction =( new_prediction > 0.5 )
new_prediction

array([[False]])